@import url(reset.css);

@font-face {
  font-family: PokemonSolid;
  src: url(../fonts/pokemon-solid.ttf);
}

@font-face {
  font-family: PressStart2P;
  src: url(../fonts/press-start-2p.ttf);
}

@font-face {
  font-family: PoppinsThin;
  src: url(../fonts/poppins-thin.ttf);
}

a {
  color: #003a70;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
}

header,
footer {
  text-align: center;
}

header > h1 {
  color: #ffcb05;
  font-family: PokemonSolid, sans-serif;
  font-size: 10vw;
  letter-spacing: 5px;

  text-decoration: underline;
  -webkit-text-stroke: 3px #003a70;
}

header > button {
  width: 100px;
  padding: 0.3rem;
  margin-bottom: 1rem;
}

span,
p {
  font-family: PoppinsThin, sans-serif;
}

main {
  padding: 2rem;
}

#app {
  background-color: #003a70;
  border: 10px double #fff;
  display: flex;
  flex-flow: row wrap;
  overflow: scroll;
  height: 60vh;
  padding: 2rem;
  margin: 1rem 0;
}

.card {
  border: 2px solid #fff;
  background-color: #ffcb05;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 0.1rem;
  transition: all 0.2s ease-in-out;
  width: 33%;
}

.card:hover {
  border: 2px solid #003a70;
  box-shadow: 0 0px 10px #777;
  transform: scale(1.1);
}

.card--id {
  background-color: #fff;
  border: 2px solid #003a70;
  border-radius: 50%;
  color: #003a70;
  padding: 1rem;
}

.card--name {
  color: #3d7dca;
  font-family: PressStart2P, sans-serif;
  font-size: 2vw;
  text-transform: uppercase;
}

@media only screen and (min-width: 600px) {
  header > h1 {
    font-size: 6vw;
  }
}

@media only screen and (min-width: 768px) {
  header > h1 {
    font-size: 4vw;
  }
}
